/* Move down content because we have a fixed navbar that is 50px tall */
body {
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.axis {
    font-size: 12px;
}

.chart {
    font-size: 12px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
